<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <script src="https://npmcdn.com/axios-mock-adapter/dist/axios-mock-adapter.js"></script>

</head>
<body>
<div class="container">

    <div id=address-components></div>
    <div id=formatted-address"></div>
    <div id="geometry"></div>

</div>

<script>
geocode(){}
    function geocode(){
    var location = '22 Main st Bost MA';
    axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
    params:{
    address:location,
    key:'AIzaSyCP3TtYXkTDRYEXa1DGLQ4e3w0hGW0UkXY'
    }
  })
  .then(function(response){
  console.log(response)
  var formattedAddress = (response.data.results[0].formatted_address);
  var formattedAddressOutput = `
      <ul class=list-group">
          <li class="list-group-item">${formattedAddress}</li>
      </ul>
  `;

  var addressComponents = response.data.results[0].address_components;
  var addressComponentsOutput = '<ul class="list-group>"';
  for(var i = 0;i <addressComponents.length;i++){
      addressComponentsOutput += `
      <li class="list-group-item">${addressComponents[i].types[0]}:
      ${addressComponents[i].long_name}</li>
      `;
  }
  addressComponentsOutput += '</ul>'

  document.getElementById('formatted-address').innerHTML = formattedAddressOutput;
  document.getElementById('address-component').innerHTML = addressComponentsOutput;

  })
  .catch(function(error{
  console.log(error);
  });
</script>

</body>




</html>