nav {
    width: 100%;
    border: 1px solid #555

}

#white {
    background-color: white;
    width: 100%;
    padding: 0
    margin: 0
}

body {
    color: #d80000;
    background: #d5dae5;
    font-family: Comic Sans MS;
    font-style: oblique;
}

#form-indent {
    text-indent: 15px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 300px;
}