<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>



<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>



<p th:unless="${allUsers} and ${allUsers.size()}">You have no neighbors :(</p>

<table class="table">

    <tr>
        <th scope="col">Name</th>
        <th></th>
        <th>View Profile</th>

    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:text="${user.firstname} + ' ' + ${user.lastname} + ' -A.K.A: ' + ${user.username}"></td>
        <td><img th:src="${user.profilePictureUrl}" height="75" width="75" alt="no pic" /></td>
        <td><a th:href="@{'/user/profile/' + ${user.id}}">View Profile</a></td>

    </tr>

</table>


</body>
</html>